astropy==5.2.2
bokeh==3.2.1
contourpy==1.1.1
cycler==0.12.1
dask
DateTime==5.2
fonttools==4.43.1
h5py==3.6.0
healpy==1.15.0
imageio==2.9.0
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.7.3
mpl-tools==0.2.57
numpy==1.22.4
packaging==23.2
Pillow==10.1.0
plotly
pyerfa==2.0.0.3
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0.1
scipy==1.6.3
six==1.16.0
tqdm==4.66.2
zipp==3.17.0
zope.interface==6.1